<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UCSC Test Automation Demo">
    <listeners>
        <listener class-name="actitime.extentreportlistener.ExtentReporterNG" />
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Janani/ASQA_assignment/src/main/resources">
        <classes>
            <class name="actitime.testcases.HomePageTest"/>
            <class name="actitime.testcases.LogonPageTest"/>
            <class name="actitime.testcases.ApproveTimesheetPageTest"/>
        </classes>
    </test>
</suite>